<!DOCTYPE html>
<html lang="zh-CN">
<head>
    {{#each assets.css}}
        {{{this}}}
    {{/each}}
</head>
<body>
    <div id="root"></div>
    {{#each assets.js}}
        {{{this}}}
    {{/each}}
</body>
</html>
