<!DOCTYPE html>
<html lang="zh-CN">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8">
    {{#each assets.css}}
        {{{this}}}
    {{/each}}
</head>
<body>
    <div id="root">444444</div>
    {{#each assets.js}}
        {{{this}}}
    {{/each}}
     {{> 'loading.handlebars'}}
</body>
</html>
