@import './base.scss';

h1 {
    color: $sub;
    @include borderRadius();
}

.test {
    transform: translate(100%);
    display: flex;
    align-items: center;
    justify-content: center;
}
::placeholder {
    color: gray;
  }

@media (min-resolution: 2dppx) {
    .test {
        transform: translate(200%);
    }
}

.newWorkPng {
    background: url("//zzccdn.zuzuche.com/irc-common/upload_static/69/69/a274dbe816fa3b2dfe799ba99e027c12.png") no-repeat;
}

.logo{
    width: 300px;
    height: 300px;
    background: url('../images/1.jpg?__inline') no-repeat;
    background-size: contain;
}
.logo2{
    width: 300px;
    height: 300px;
    background: url('../images/2.png') no-repeat;
    background-size: contain;
}
.logo3{
    width: 300px;
    height: 300px;
    background: url('../images/3.gif?__url') no-repeat;
    background-size: contain;
}
.logo4{
    width: 300px;
    height: 300px;
    background: url('../images/4.webp?__url') no-repeat;
    background-size: contain;
}
.logo5{
    width: 300px;
    height: 300px;
    background: url('../images/1.jpg') no-repeat;
    background-size: contain;
}
.base64image{
    background: url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAADYAAAA0CAMAAAD2UzvkAAAAOVBMVEUAAADNzc3Nzc3Nzc3Nzc3Ozs7Ozs7MzMzMzMzNzc3Ozs7Nzc3Nzc3MzMzNzc3Ozs7Nzc3Nzc3MzMwLyikhAAAAEnRSTlMA+bI9/YZ3GeblGvN6eIU+/ntDIH1bAAAAlklEQVR4Xu2W2wrDIBAF42rUpKaX+f+PrSUFoQhmi487LweODCr7sssk1tu9V41wuF41AuhUEzUvG/A9bNGvNvGn9QpwXYNQPuXj6WK6/sj9cMHXFKLubwdSI5N0A9jJNeBntmsT+hU0bcB0zTTTTDPNNNNMy+w6K5FrCIdOi0gNH1xU3Jfiuc4sJaAilLaqjaGtan/zBl3TGJ1UIY7nAAAAAElFTkSuQmCC) no-repeat;
}