<!DOCTYPE html>
<html lang="zh-CN">
<head>
    {{> '../../../template/eagleeye/eagleeye.handlebars'}}
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8">
    {{#each assets.css}}
        {{{this}}}
    {{/each}}
</head>
<body>
    1231232
    <div id="root"></div>
    {{#each assets.js}}
        {{{this}}}
    {{/each}}
</body>
</html>
